<table>
	<tr>
		<th>Nombre</th>
		<th>Score 1</th>
		<th>Score 2</th>
		<th>Score 3</th>
		<th>Score 4</th>
		<th>Score 5</th>
		<th>Score 6</th>
	</tr>
	<tr>
		<td><input type="text" placeholder="Nombre del concursante"></td>
		<td><input type="number" placeholder="Score 1"></td>
		<td><input type="number" placeholder="Score 2"></td>
		<td><input type="number" placeholder="Score 3"></td>
		<td><input type="number" placeholder="Score 4"></td>
		<td><input type="number" placeholder="Score 5"></td>
		<td><input type="number" placeholder="Score 6"></td>
	</tr>
</table>