<!DOCTYPE html>
<html>
 	<head>
    	<title><%= title %></title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
  	</head>
  	<body>
      <article class="article-img-layout">
        <img src="/images/logo1.png" class="img-article" id="img1-index-layout">
        <img src="/images/logo2.png" class="img-article" id="img2-index-layout">
      </article>
  		<nav class="nav-index-layout">
  			<ul class="ul-nav-index">
  				<li class="li-ul-nav" id="li-1">
  					<a href="">Resultados</a>
  				</li>
  				<li class="li-ul-nav" id="li-2">
  					<a href="">Femenil</a>
  				</li>
  				<li class="li-ul-nav" id="li-3">
  					<a href="">Intermedio varonil</a>
  				</li>
  				<li class="li-ul-nav" id="li-4">
  					<a href="">RX varonil</a>
  				</li>
  			</ul>
  		</nav>
  	</body>
</html>
