<!DOCTYPE html>
<html lang="en">
 	<head>
    	<title>CFCH - Positions</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
      <meta charset="utf-8">
  	</head>
  	<body>
      <div>
      <header class="article-img-layout">
        <img src="/images/logo1.png" class="img-article" id="img1-index-layout">
        <img src="/images/logo2.png" class="img-article" id="img2-index-layout">
      </header>
  		<nav class="nav-index-layout">
  			<ul class="ul-nav-index">
  				<li class="li-ul-nav" id="li-1">
  					<a href="/">Resultados</a>
  				</li>
  				<li class="li-ul-nav" id="li-2">
  					<a href="/tables/femenil">Femenil</a>
  				</li>
  				<li class="li-ul-nav" id="li-3">
  					<a href="">Intermedio varonil</a>
  				</li>
  				<li class="li-ul-nav" id="li-4">
  					<a href="">RX varonil</a>
  				</li>
  			</ul>
  		</nav>
      <section>
        <%- body %>
      </section>
      <footer>
        Created by ErickJustiniano
      </footer>
      </div>
  	</body>
</html>
